@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

body{
    background-color: black;
}

.linkedin{
    color: teal;
    margin-right: 15px;
    margin-left: 800px;
    
}

.linkedin:hover{
    color: white;
}

.linkedin1{
    color: teal;
}

.linkedin1:hover{
    color: white;
}

.telephone{
    color: teal;
    margin-right: 15px; 
}

.telephone:hover{
    color: white;
}

.twitter{
    color: teal;
}

.twitter:hover{
    color: white;
}

.twitter1{
    color: teal;
}

.twitter1:hover{
    color: white;
}

.whatsapp{
    color: teal;
    margin-right: 15px;
}

.whatsapp1{
    color: teal;
}

.whatsapp:hover{
    color: white;
}

.whatsapp1:hover{
    color: white;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: purple;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 200px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    text-align: left;
}

p{
    font-family: 'Montserrat', sans-serif; 
    color: white;
    font-size: 28px;
}

.AA{
    background-color: none;
    font-size: 20px;
    color: white;
}

.project{
    font-style: inherit;
    font-weight: 400;
    font-size: 1.5em; 
    /* 2.5 X 16 = 40px */
    font-family: 'Lucida Sans';
}

.name{
    background-color: teal;
}

.email{
    background-color: teal;
}

.message{
    background-color: teal;
}

.btn:hover{
    background-color: teal;
    color: gray;
    font-size: 20px;
    transition: 5s;
}

.AA:hover{
    color: white;
    font-size: 24px;
}

.image1{
    border-color: 50%;
    width: 1000px;
    height: 500px;
    margin-left: 150px;
}

.image2{
    border-color: 50%;
    width: 1000px;
    height: 500px;
    margin-left: 150px;
}

.contact1{
   margin-top: 300px;
}

.AA1{
    color: teal;
}

.AA2{
    color: teal;
}

.AA3{
    color: teal;
}

